//SimpleBlue colors
$color_tundora_approx: #444444;
$color_hippie_blue_approx: #6091ba;
$color_east_bay_approx: #365d7e;
$white: #fff;
$color_polo_blue_approx: #84aac9;
$color_gray_nurse_approx: #e8e8e8;
$color_san_juan_approx: #2f506c;
$color_pickled_bluewood_approx: #27435a;
$color_link_water_approx: #dce7f0;
$color_wedgewood_approx: #4678a1;
$color_calypso_approx: #3e6a8f;
$color_alto_approx: #dcdcdc;
$color_tapa_approx: #767676;
$color_wild_sand_approx: #f5f5f5;
$color_baltic_sea_approx: #2b2b2b;
$color_shady_lady_approx: #a9a9a9;

// SimpleGreen Colors
$color1: #6a6a6a;
$color2: #7a7a7a;
$color3: #8a8a8a;
$color4: #68cc9d;
$color5: #7fd4ac;
$color6: #97ddbc;
$color7: #aee5cb;
$color8: #c6eddb;

//fonts
$font_0: open sans;
$font_1: arial;
$font_2: sans-serif;
$font_3: FontAwesome;

//mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin background-clip {
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

@mixin box-shadow($x) {
    -webkit-box-shadow: $x;
    -moz-box-shadow: $x;
    box-shadow: $x;
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

//@extend-elements
//original selectors
//a.btn-cta, .btn-cta
%button_base {
    background: $color4;
    color: $white;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 1.33;
    @include border-radius(0);
    @include background-clip;
    border: 1px solid $color4;
    font-family: $font_0, $font_1, $font_2;
}

//original selectors
//a.btn-cta:hover, .btn-cta:hover
%button_base_hover {
    color: $white;
    background: $color6;
    border: 1px solid $color6;
}

//original selectors
//a.btn-cta .fa, .btn-cta .fa
%button_base_font_awesome {
    margin-right: 10px;
    font-size: 20px;
    color: $white;
}

%font_base {
  font-family: $font_0, $font_1, $font_2;
  font-weight: 300;
}

body {
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %font_base;
}
h1 {
    &.heading-title {
        margin-top: 0;
        display: inline-block;
        font-size: 28px;
    }
}

p {
    color: $color_tundora_approx;
    font-size: 13px;
}
a {
    color: $color4;
    @include transition(all, 0.4s, ease-in-out);
    &:hover {
        text-decoration: none;
        color: $color3;
    }
    &.btn-cta {
        @extend %button_base;
        &:hover {
            @extend %button_base_hover;
        }
        .fa {
            @extend %button_base_font_awesome;
        }
    }
}
.btn {
    @include transition(all, 0.4s, ease-in-out);
    @include border-radius(0);
    @include background-clip;
    .fa {
        color: $white;
        margin-right: 5px;
        &.fa-search {
            margin-right: 0;
        }
    }
}
.btn-theme {
    background: $color4;
    border: 1px solid $color4;
    color: $white;
    &:hover {
        background: $color6;
        border: 1px solid $color6;
        color: $white;
    }
}
.btn-cta {
    @extend %button_base;
    &:hover {
        @extend %button_base_hover;
    }
    .fa {
        @extend %button_base_font_awesome;
    }
}

.btn-primary {
    background-color: $color6;
    border-color: $color6;
    &:hover {
        background-color: $color4;
        border-color: $color4;
    }
}

.form-control {
    @include border-radius(0);
    @include background-clip;
    &:focus {
        border-color: $color5;
        //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        @include box-shadow(none);
    }
}
blockquote {
    font-size: 14px;
    p {
        font-size: 14px;
        line-height: 1.5;
    }
}
.page-heading {
    margin-bottom: 30px;
    border-bottom: 1px solid $color_gray_nurse_approx;
}
.page-row {
    margin-bottom: 30px;
}
.has-divider {
    border-bottom: 1px dotted $color_gray_nurse_approx;
    padding-bottom: 15px;
}
.title {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300;
}
.top-bar {
    background: $color1;
    min-height: 10px;
    .search-form {
        padding: 10px 0;
    }
}
.header {
    padding: 30px 0;
    background-color: $color8;
}
.navbar {
    margin-bottom: 0;
}
.navbar-nav {
    margin-bottom: 0;
}
.main-nav {
    background: $color5;
    margin-bottom: 30px;
    button {
        background: $color4;
        color: $white !important;
        @include border-radius(0);
        @include background-clip;
        &:focus {
            outline: none;
        }
        .icon-bar {
            background-color: $white;
        }
    }
    .navbar-collapse {
        padding: 0;
    }
    .nav .nav-item {
        font-weight: 600;
        text-transform: uppercase;
        font-family: $font_0, $font_1, $font_2;
        z-index: 100;
        a {
            color: $color2;
            @include transition(all, 0.4s, ease-in-out);
            &:hover {
                background: $color6;
                color: $white;
            }
        }
        &.active {
            position: relative;
            > a {
                background: $color4;
                color: $white;
                &:before {
                    content: "\f0d8";
                    position: absolute;
                    bottom: -8px;
                    left: 0;
                    text-align: center;
                    font-family: $font_3;
                    display: block;
                    font-size: 12px;
                    width: 100%;
                }
                &.dropdown-toggle:before {
                    display: none;
                }
            }
        }
        .dropdown-menu {
            @include border-radius(0);
            @include background-clip;
            margin: 0;
            border: none;
            padding: 0;
            text-transform: none;
            min-width: 220px;
            a {
                border-bottom: 1px solid $color4;
                padding: 8px 20px;
                &:hover {
                    background: $color5;
                    color: $white;
                    padding-left: 24px;
                }
            }
        }
        &.open a {
            background: $color7;
            color: $white;
        }
    }
}
.body-content {
    margin-bottom: 100px;
}
.news {
    position: relative;
    .carousel-controls {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .news-item {
        padding-bottom: 30px;
    }
    h2.title {
        font-size: 18px;
        margin-top: 0;
        a {
            color: $color_tundora_approx;
            &:hover {
                color: $color_east_bay_approx;
            }
        }
    }
}
.blog-post-content {
    margin: 30px 0;
}
.news-item {
    .post-meta-info {
        margin-top: 40px;
    }
    .read-more {
        margin-top: 20px;
    }
}
.footer {
    background: $color3;
    color: $white;
    p {
        color: $color_alto_approx;
    }
    ul {
        padding-left: 0;
    }
    li {
        list-style: none;
    }
    h3 {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .footer-content {
        padding: 50px 0;
        font-size: 12px;
        .footer-col {
            .footer-col-inner {
                padding: 0 15px;
            }
            .fa {
                margin-right: 10px;
                display: inline-block;
                color: $color_tapa_approx;
                &.fa-phone {
                    font-size: 16px;
                }
            }
            li {
                margin-bottom: 10px;
                font-size: 12px;
            }
            a {
                color: $color3;
                &:hover {
                    color: $color5;
                }
            }
        }
        .adr {
            margin-bottom: 30px;
            .fa {
                font-size: 16px;
                margin-top: 2px;
            }
        }
        .subscribe-form {
            padding: 0;
            .form-group {
                display: inline-block;
                margin-bottom: 0;
                vertical-align: middle;
            }
            .form-control {
                width: 320px;
                background: $color_wild_sand_approx;
                border: none;
                @include transition(all, 0.4s, ease-in-out);
                &:focus {
                    background: $white;
                }
            }
        }
    }
    .bottom-bar {
        background: $color1;
        padding: 5px 0;
        .copyright {
            font-size: 11px;
            color: $color8;
            line-height: 3;
            a {
                color:$color4;
                &:hover {
                    color: $color5;
                }
            }
        }
        .social {
            margin: 0;
            li {
                float: right;
                margin-left: 10px;
                text-align: center;
                font-size: 18px;
                line-height: 2;
                a {
                    color: $color4;
                    padding: 0 5px;
                    &:hover {
                        color: $color5;
                    }
                }
            }
        }
    }
}
